head
  title Administration atelier Icare
  link(rel="stylesheet" href="/assets/css/all.css")
  link(rel="stylesheet" href="/assets/css/admin.css")
  link(rel="stylesheet" href="/assets/css/watchers.css")
