doctype html
html
  include admin/layout/head
  body(class="admin")
    include admin/layout/header
    != Dialog.flashMessages()
    section#content
      case section
        when 'overview'
          include admin/section/overview
        when 'dashboard'
          include admin/section/dashboard
        when 'icariens'
          include admin/section/icariens
        when 'modules'
          include admin/section/modules
    include admin/layout/footer
