doctype html
html
  include includes/layout/head
  body(class="home")
    link(rel="stylesheet" href="/assets/css/home.css")
    != Dialog.flashMessages()
    include home/header
    include home/content
    include home/footer
