<% const my = etape %>
<section class="etape" id="etape-<%= my.id %>">
  <div class="tools right">
    [edit]
    [détruire]
  </div>
  <div class="titre">
    <label>Titre</label>
    <span><%= my.numero %>. <%= my.titre %></span>
  </div>
  <div class="objectif">
    <label>Objectif</label>
    <span><%= my.objectif %></span>
  </div>
</section>
