h3 Poster en tant que nouvel icarien

p 
  span Vous n’êtes pas icarien et vous voulez commander le module #
  span= module_id
  span .
p
  | Pour cela, vous devez simplement 
  a(href=`/signup?mid=${module_id}`, class="bold") poser votre candidature
  |
  | à l'atelier.
