doctype html
html
  include includes/layout/head
  body
    include includes/layout/header
    case place
      when 'home'
        include includes/places/home
      when 'login'
        include includes/places/login
      when 'bureau'
        include includes/places/bureau
      when 'cul_de_sac'
        include includes/places/cul_de_sac
    
    if place == 'admin'
      include includes/places/admin
    else if place == 'aide'
      include includes/places/aide
    else if place == 'modules'
      include includes/places/modules
    else if place == 'signup'
      include includes/places/signup
      
    include includes/layout/footer
