// Une "carte" d'étape, quel que soit le type voulu
// C'est la classe suivante qui va déterminer l'affichage exacte
.etape

  max-width: 680px

  // Tous les labels
  label
    float: left
    font-style: italic
    color: #999999
    &:not(.plain)
      display: inline-block
      width: 100px
    &.plain
      display: block
      width: 100%

  // Le span qui suit le label
  label + span
    display: block
    margin-left: 120px

  div.titre
    > span
      font-weight: bold

  // // Pour l'affichage de l'étape courante dans le bureau
  // &.current
  //   padding: 2em
  //   border: 1px solid
  //   border-radius: 1em
  //
  // > div
  //   margin-top: 0.5em
  //
  // div.dates
  //   font-size: 0.9em
  //
  // div.module
  //   // border: 1px solid green
  //   margin-bottom: 0.5em
  //   div.titre
  //     span
  //       font-size: 1.4em
  //       font-weight: normal
  //
  // //
  // //
  // //  L'ÉTAPE PROPREMENT DITE
  // .etape
  //   div.titre
  //     span
  //       font-size: 1.3em
  //
  //   div.objectif
  //     span
  //       font-weight: bold
  //
  //   div.travail
  //     margin-bottom: 2em
  //     margin-top: 2em
  //
  //     //
  //     //
  //     // CONTENEUR DU TRAVAIL PROPREMENT DIT
  //     //
  //     //
  //     div.description
  //       margin-top: 1em
