//- 
  Mixin pour les modules d'apprentissage
  Notamment pour ne pas avoir à tout refaire chaque fois

mixin selectModules(select_id)
  select(id=select_id)
    option Choisir le module…
    option(value="7") Suivi de projet (rythme normal)
    option(value="8") Suivi de projet (rythme soutenu)
    option(value="12") Coaching intensif
    option(value="4") Les Personnages
    option(value="6") La Structure
    option(value="11") Les Procédés narratifs
    option(value="2") Les Documents d’écriture
    option(value="5") Le scénario
    option(value="10") La Bible de série
    option(value="9") Les Thèmes
    option(value="3") La Dynamique narrative
    option(value="13") Découverte de la dramaturgie
    option(value="14") Initiation à la dramaturgie
    option(value="15") Manuscrit refusé
    option(value="1") Analyse de film
    
