section#content
  div.big-in-cadre 
    img(src="/assets/img/papillon-base-logo.png" id="papillon")
    | Atelier Icare
    div.small L’écriture dans tous ses états

  hr.big
    
  fieldset#news
    legend Dernières activités
    include ../includes/elements/last_news.html
