section#content
    
  div.big-in-cadre 
    img(src="/assets/img/papillon-base-logo.png" id="papillon")
    | Atelier Icare
    div.small L’écriture dans tous ses états (*)

  div.mini
    | (*) aussi bien dans la forme (roman, scénario, BD, etc.) que dans le fond (pitch, résumé, synopsis, scénario, etc.).
  hr.big

  if req.user
    div
      | L'utilisateur s'appelle
      |
      = `${req.user.pseudo} (#${req.user.id})`
      
  //- 
    |
    | ICI ON PEUT METTRE DU CODE POUR GAGNER DU TEMPS
    | PAR EXEMPLE POUR METTRE UNE ADRESSE À ATTEINDRE TOUT DE SUITE
    |
  if false && App.offline
    div
      a(href="/paiement") Section de paiement
    
  //----------------------------------------------------------------------
  
  fieldset#news
    legend Dernières activités
    include ../includes/elements/last_news.html
