section#header
  div.common-tools
    a(href="/overview") EN SAVOIR PLUS

    if req.user

      a(href="/auth/logout") SE DÉCONNECTER
      - console.log("req = ", req)
      if User.currentIsAdmin(req)
        
        a(href="/admin/overview") ADMINISTRATION
      
      else if User.currentIsIcarien(req)
        
        a(href="/bureau") BUREAU
          
      else
        
        span Ni Icarien ni admin…

    else

      a(href="/auth/signup") S’INSCRIRE
      a(href="/auth/login") S’IDENTIFIER
