section#header
  div.common-tools
    a(href="/overview") EN SAVOIR PLUS

    if User.current

      a(href="/logout") SE DÉCONNECTER

    else

      a(href="/signup") S’INSCRIRE
      a(href="/login") S’IDENTIFIER
