- 
  DATA_PLACES = {
     home: ['accueil','/'],
     aide: ['aide', '/aide'],
     bureau: ['votre bureau', '/bureau'],
     admin: ['administration', '/admin/overview']
  }
mixin mainLink(place_id)
  - [name, route] = DATA_PLACES[place_id]
  if place == place_id
    a(href=route).selected= name
  else
    a(href=route)= name
    
section#header
  nav#main-rubriques.places
    
    +mainLink('home')
    +mainLink('aide')

    if User.currentIsIcarien(req)
      +mainLink('bureau')

    if User.currentIsAdmin(req)
      +mainLink('admin')

    if req.user

      a(href="/auth/logout").log Se déconnecter

    else
      
      a(href="/auth/login").log S’identifier
      a(href="/signup",id="btn-signup").log S’inscrire

  
  //- 
    |
    |  TITRE DU SITE
    |
    |  
  div#site_name 
    img(src="/assets/img/papillon_logo.png")
    a(href="/") ATELIER ICARE
