- 
  DATA_PLACES = {
     home: ['accueil','/'],
     aide: ['aide', '/aide'],
     bureau: ['votre bureau', '/bureau'],
     admin: ['administration', '/admin/overview']
  }
mixin mainLink(href, name)
  - if ( undefined === name ) name = href.toUpperCase()
  - href = `/${href}`
  - var css = href!='/' && route.startsWith(href) ? 'selected' : ''
  a(href=`${href}` class=css)= name
    
section#header
  nav#main-rubriques.places
    
    +mainLink('', 'accueil')
    +mainLink('aide', 'aide')

    if User.currentIsIcarien(req)
      +mainLink('bureau', 'bureau')

    if User.currentIsAdmin(req)
      +mainLink('admin', 'administration')

    if req.user

      a(href="/auth/logout").log Se déconnecter

    else
      
      a(href="/auth/login").log S’identifier
      a(href="/signup",id="btn-signup").log S’inscrire

  
  //- 
    |
    |  TITRE DU SITE
    |
    |  
  div#site_name 
    img(src="/assets/img/papillon_logo.png")
    a(href="/") ATELIER ICARE
