- 
  DATA_PLACES = {
     home: ['Accueil','/'],
     aide: ['Aide', '/aide'],
     modules: ['Modules d’apprentissage', '/modules'],
     bureau: ['Votre bureau', '/bureau'],
     admin: ['Administration', '/admin/overview']
  }
mixin mainLink(place_id)
  - [name, route] = DATA_PLACES[place_id]
  if place == place_id
    a(href=route).selected= name
  else
    a(href=route)= name
    
section#header
  nav#main-rubriques.places
    +mainLink('home')
    +mainLink('aide')
    if User.current && User.current.isIcarien
      +mainLink('bureau')
    +mainLink('modules')
    //- if User.current && User.current.isAdmin
    +mainLink('admin')

    if User.current
      a(href="/logout").log Se déconnecter
    else
      a(href="/login").log S’identifier
      a(href="/signup",id="btn-signup").log S’inscrire
  //- On indique l'utilisateur de la session
  if User.current
    div.session-owner= `Session de ${User.current.pseudo}`
  
  //- 
      TITRE DU SITE
      
  div#site_name ATELIER ICARE

  //- Le message flash à afficher (if any)
  if Dialog.message
    div.flash
      != Dialog.message
