h2 Gestion des Icariens

div.right [ICI UN FILTRE JS POUR FILTRER LES ICARIENS]

//- 
  Listing des icariens
  La variable `icarien` est passée au template !
each icarien in User.allIcariens
  include templates/icarien_card
