h2 Bravo !

p.
  Votre candidature a bien été enregistrée.

p.
  Un mail vient de vous être envoyé, par lequel cette candidature 
  est rappelée et grâce auquel vous allez pouvoir confirmer votre
  adresse mail.

p
  | Pour connaitre la suite des opérations, vous pouvez consulter la 
  |
  a(href="/signup/explication") page des explications
  | .
