
p.
  Vous venez de déposer votre candidature à l'atelier Icare. Nous 
  vous remercions vivement de votre confiance.

p.
  Cette inscription doit être validée par Phil, qui décidera, 
  peut-être en vous contactant, du module à vous attribuer. Il s'efforcera
  cependant de vous attribuer celui que vous avez choisi.

p.
  Une fois cette candidature acceptée, vous aurez un bureau sur le
  site de l'atelier, qui vous permettra d'être informé de votre travail,
  et de trouver toute autre information utile.

p.
  C'est de ce bureau aussi que vous pourrez payer votre module ou vos mensualités,
  ou encore commander un autre module.

p.
  Si vous avez des questions, n'hésitez surtout pas à consulter l'aide en ligne
  qui contient toutes les questions que les icariennes et les icariens se sont
  posées jusqu'à aujourd'hui. Si la vôtre ne s'y trouve pas, n'hésitez pas une
  seconde à la poser, nous nous ferons un plaisir d'y répondre.
