- const vdt = locals.validator

include ../../mixins/form_utils

p.explication
  | Avant toute chose, notez que pour déposer votre candidature à
  | l’atelier Icare vous devez impérativement être en possession de
  | votre 
  |
  a(href="/signup/documents#document_presentation") document de présentation
  |
  | et de votre 
  |
  a(href="/signup/documents#lettre_motivation") lettre de motivation
  | .

form(method="POST",id="new_user_form",enctype="multipart/form-data")
  input(type="hidden" name="token" value=`${token}`)
  
  fieldset
    legend Votre identité
    +divRow('Votre pseudo', 'pseudo', false, vdt)
    +divRow('Votre patronyme', 'patronyme', false, vdt)
    +divRow('Votre mail', 'mail', true, vdt)
    +divRow('Votre mot de passe', 'password', true, vdt)
    
    //- PRÉCISIONS
    - 
      var currentYear = new Date().getFullYear() - 16
      var values = []
      for ( var i = 0 ;  i < 100 ; ++i)
        - values.push([currentYear - i, currentYear - i])
    +divSelect('Votre année de naissance', 'naissance', values, vdt)
    +divSelect('Vous êtes…', 'sexe', [['F','une femme'],['H','un  homme']], vdt)


  //- LE MODULE D'APPRENTISSAGE
  fieldset
    legend Module d’apprentissage ou de suivi
    p.small 
      | Merci de choisir dans cette liste le module que vous souhaitez suivre.
      |
      a(href="/modules") Présentation de tous les modules
      |.
    +divSelect(null, 'module', [
        ['','Choisir le module…'],
        [7, 'Suivi de projet'], [8, 'Suivi de projet (intensif)'], [12,'Coaching intensif'],
        [15,'Manuscrit refusé'],
        [4,'Les Personnages'], [6,'La Structure'], [11,'Les Procédés narratifs'],
        [2,'Les Documents d’écriture'], [5,'Le Scénario'], [10,'La Bible de série'],
        [9,'Les Thèmes'], [3,'La Dynamique narrative'], 
        [1, 'Analyse de film'],
        [13,'Découverte de la dramaturgie'], [14,'Initiation à la dramaturgie']
      ], vdt)

  //- LES DOCUMENTS
  
  fieldset
    legend Documents de présentation
    +divFile('Document de présentation', 'presentation', vdt)
    +divFile('Lettre de motivation', 'motivation', vdt)
    +divFile('Extraits (~ 5 pages)', 'extraits', vdt)    
    
  div.row
    label Merci de répondre à ces quelques questions…
    fieldset
      div 
        input(type="checkbox" id="cb-atelier-inline" name="atelier-inline")
        label(for="cb-atelier-inline") J’ai déjà participé à des ateliers en ligne
      div
        input(type="checkbox" id="cb-atelier-insitu" name="atelier-insitu")
        label(for="cb-atelier-insitu") J’ai déjà participé à des ateliers physiques
      div
        input(type="checkbox" id="cb-school" name="school")
        label(for="cb-school") J’ai fait une école d’écriture
    fieldset
      div
        input(type="radio" id="cb-knowledges-none" name="knowledges" value="none")
        label(for="cb-knowledges-none") Je n’ai jamais rien lu sur la dramaturgie
      div
        input(type="radio" id="cb-knowledges-afew" name="knowledges" value="afew")
        label(for="cb-knowledges-afew") J’ai lu quelques livres sur la dramaturgie
      div
        input(type="radio" id="cb-knowledges-alot" name="knowledges" value="alot")
        label(for="cb-knowledges-alot") J’ai lu beaucoup de choses sur la dramaturgie
  
  div.buttons
    input(type="submit",value="Poser sa candidature" class="btn main")
