div.explication
  | L'aperçu général, comme son nom l'indique, permet d'avoir un aperçu général de l'atelier.

div.grid
  div.cols1et2
    h3.center Watchers courants
  
  div.cols3et4
    h3.center Nouvelles candidatures
    include ../templates/candidatures
  
  div.cols5et6
    h3.center Rappels et avertissements
