link(rel="stylesheet" href="/assets/css/bureau.css")
link(rel="stylesheet" href="/assets/css/watchers.css")

h1 Votre bureau de travail

div Bienvenue dans votre bureau
p
  | Je dois montrer le bureau de l'utilisateur
  =  user_id
