h1 Identification

form(id="login_form" method="POST" action="/login")
  input(type="hidden" name="route_after", value=locals.route_after?route_after:'')
  div.row
    label Votre mail
    input(type="text" name="_umail_")
  div.row
    label Votre mot de passe
    input(type="password" name="_upassword_")
  div.buttons
    input(type="submit" value="S’identifier" class="main-btn")
