h1 Candidater à l’atelier Icare

form(method="POST",id="new-user-form")
  input(type="text",name="_upseudo_", placeholder="Votre pseudo")
  input(type="text",name="_umail_", placeholder="Votre mail")
  input(type="password",name="_upassword_",placeholder="Votre mot de passe")
  input(type="password",name="_upassword_confirmation_",placeholder="mot de passe à nouveau")
  input(type="submit",value="Candidater")
