h1 Dépot de candidature
  
case action
  when 'formulaire'
    include signup/formulaire
  when 'confirmation'
    include signup/confirmation
  when 'explication'
    include signup/explication
  when 'documents'
    include signup/documents
