//- if candidatures
if Admin.candidats
  - console.log("Admin.candidats = ", Admin.candidats)
  div.mini
    | Nombre de candidatures :
    |
    span.bold= Admin.candidats.length
  each candidat in Admin.candidats
    include ../../watchers/candidature
else
  div Aucune candidature n'est à étudier.
