h2 Section de paiement

form(id="paiement_form" method="POST" action="/paiement/payer")
  div.row
    | Description du module à payer
  div.buttons
    input(type="submit" value="Payer" class="btn main")
