section#header
  div.buttons
    a(href="/admin/overview")   Aperçu général
    a(href="/admin/dashboard")  Tableau de bord
    a(href="/admin/icariens")   Icariens
    a(href="/admin/modules")    Modules d'apprentissage
    a(href="/") Accueil du site
    a(href="/" target="_blank") (♂︎)
  h1 
    span#main_titre Administration de l'atelier Icare ::
    span#section_name= section_name
