div.flash
  background-color: #EFEFEF
  > div
    padding: 0.5em 1em
    font-family: Avenir, Arial
    font-size: 0.85em
    &.action-required
      background-color: #ADFFE3
    &.annonce
      background-color: #ADE3FF
    &.error
      background-color: #FFFFB7
